:root {
  --co-primary: "#FAC213";
  --co-secondary: "#F68989";
  --co-neutral: "#33312D";
  --co-base: "#FFFDF7";
  --co-info: "#046582";
  --co-success: "#86C8BC";
  --co-warning: "#FFC26F";
  --co-error: "#e75c5a";
} 